.role-buttons{
    display:flex;
    gap:15px;
    margin:20px 0;
}

.role-btn{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#e6e6e6;
    color:#333;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.role-btn:hover{
    background:green;
    color:white;
}

.role-btn.active{
    background:#4A90E2;
    color:white;
}
.h2{
    text-align:center;
    font-family:verdana;
}